<main>
  <div class="main-container" *ngFor="let game of games">
    <img
      [src]="[game.image.urlCapa]"
      [alt]="[game.image.alt]"
      [title]="[game.image.title]"
    />

    <div class="details-container">
      <div class="description">
        <h1>{{ game.descriptionCard }}</h1>
        <div class="type-and-plataform">
          <span class="divider"></span>
          <span>{{ game.descriptionAndPlataformGame }}</span>
        </div>
      </div>
      <div class="price-container">
        <h1>{{ game.price | currency }}</h1>
      </div>
    </div>
    <div class="tag">
      <span>{{ game.tag }}</span>
    </div>
  </div>
</main>
