<main>
  <div
    class="main-container"
    style="
      background-image: url(https://upload.wikimedia.org/wikipedia/pt/8/84/Battlefield_4_capa.png);
    "
  >
    <div class="details-container">
      <div class="description">
        <h1>Play It Now!</h1>
        <div class="type-and-plataform">
          <span class="divider"></span>
          <span>Full Game | PS3 PS4 PS5</span>
        </div>
      </div>
      <div class="price-container">
        <h1>$59.99</h1>
      </div>
    </div>
  </div>
</main>
